.hot-news-wrapper {
}

.hot-news {
  display: flex;

  //justify-content: center;
  flex-flow: wrap;

  width: 100%;
}

.hot-news__item {
  display: flex;

  color: #757575;
  outline: none;

  margin: 4px;

  padding: 6px 12px;

  background-color: transparent;

  border: 1px solid rgb(199, 199, 199);
  border-radius: 8px;

  background-color: #fff;

  font-weight: 700;
  font-size: 10pt;

  cursor: pointer;

  transition: 0.2s;
}

.hot-news__item:hover {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  
    transition: 0.2s;
  }