nav {
  min-width: 100%;
  min-height: 48px;

  z-index: 1000;

  position: fixed;

  display: flex;

  align-items: center;

  background-color: rgb(255, 255, 255);

  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

.nav-container {
  width: 100%;
  height: 100%;

  box-sizing: border-box;

  padding: 8px 8px 8px 8px;

  display: flex;

  justify-content: space-between;
}

.nav-left,
.nav-right {
  display: flex;

  flex-flow: nowrap;

  width: 271px;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}

.nav-middle {
  width: 100%;
  height: 100%;
}

.nav-input-wrapper {
  height: 100%;

  display: flex;

  flex-flow: nowrap;
}

.nav__item {
  height: 48px;
  width: min-content;

  transition: 0.2s;

  display: flex;

  justify-content: center;

  align-items: center;
}

.nav__item-btn {
  outline: none;

  transition: 0.2s;

  display: flex;

  align-items: center;
  justify-content: center;

  min-width: 48px;
  min-height: 48px;

  max-width: 48px;
  max-height: 48px;

  cursor: pointer;

  color: #757575;

  border: none;
  border-radius: 100px;

  background-color: rgba(255, 255, 255, 0);
}

.nav__item-btn:hover {
  background-color: #f5f5f5;
}

.nav__item-btn:active {
  background-color: #e4e4e4;
}

.nav__logo {
  width: min-content;

  margin-left: 8px;
}

.nav__input {
  width: 100%;
  height: 100%;

  padding: 0px 16px 0px 16px;

  border: none;

  outline: none;

  font-size: 12pt;

  background-color: #f5f5f5;
}

.nav__input:focus {
  border: 1px solid #eaebee;

  border-left: none;
  border-right: none;

  background-color: #fff;
}


.nav__item-btn-input {
  height: 48px;
  width: 48px;
  background-color: #f5f5f5;
}

.nav__item_flexible {
  width: 100%;
}
